<div class="row">
  <label for="isanUpdate" class="col col-2 col-form-label gy-3"> ISAN </label>

  <div class="col col-10 gy-3" [formGroup]="updateForm">
    <div class="input-group">
      <input
        id="isanUpdate"
        placeholder="ISAN"
        class="form-control"
        autofocus
        formControlName="isan"
        [class.is-invalid]="isan.invalid && isan.dirty"
        [class.is-valid]="isan.valid && isan.dirty"
      />

      <div
        class="invalid-feedback"
        *ngIf="isan.invalid && isan.touched && isan.errors"
      >
        <i class="material-icons">error</i>
        <span
          class="ms-1"
          *ngIf="isan.errors['required'] || isan.errors['pattern']"
        >
          Eine g&uuml;ltige ISAN-Nummer, z.B. 3-89722-583-2, muss eingegeben
          werden.
        </span>
      </div>
    </div>
  </div>
</div>
