<div class="row">
  <label class="col col-2 col-form-label gy-3"> Schlagwoerter </label>
  <div class="col col-10 gy-3">
    <div class="form-checkbox">
      <input
        type="checkbox"
        class="form-check-input"
        id="spannendInput"
        [(ngModel)]="spannend"
        (change)="onChangeSpannend($event)"
      />
      <label for="spannendInput" class="ms-1"> Spannend </label>
    </div>
    <div class="form-checkbox">
      <input
        type="checkbox"
        class="form-check-input"
        id="gruseligInput"
        [(ngModel)]="gruselig"
        name="gruselig"
        (change)="onChangeGruselig($event)"
      />
      <label for="gruseligInput" class="ms-1"> Gruselig </label>
    </div>
  </div>
</div>
