<div class="row">
  <label class="col col-2 col-form-label gy-3"> Schauspieler </label>
  <div class="col col-10 gy-3">
    <div class="form-checkbox">
      <input
        type="checkbox"
        class="form-check-input"
        id="salmaInput"
        [(ngModel)]="salma"
        (change)="onChangeSalma($event)"
      />
      <label for="salmaInput" class="ms-1"> Salma </label>
    </div>
    <div class="form-checkbox">
      <input
        type="checkbox"
        class="form-check-input"
        id="leonardoInput"
        [(ngModel)]="leonardo"
        name="leonardo"
        (change)="onChangeLeonardo($event)"
      />
      <label for="leonardoInput" class="ms-1"> Leonardo </label>
    </div>
  </div>
</div>
