<div class="row">
  <label for="umsatzInput" class="col col-2 col-form-label gy-3"
    >Umsatz *</label
  >
  <div class="col col-10 gy-3" [formGroup]="form">
    <div class="input-group">
      <input
        id="umsatzInput"
        placeholder="Umsatz, z.B. 123.45"
        required
        class="form-control"
        type="number"
        formControlName="betrag"
        [class.is-invalid]="betrag.invalid && betrag.touched"
        [class.is-valid]="betrag.valid && betrag.touched"
      />
      <select class="form-select" formControlName="waehrung">
        <option value="">Währung ausw&auml;hlen</option>
        <option value="EUR">€</option>
        <option value="USD">$</option>
        <option value="CHF">CHF</option>
        <option value="GBP">£</option>
        <option value="JPY">¥</option>
      </select>
      <div
        class="invalid-feedback"
        *ngIf="betrag.invalid && betrag.touched && betrag.errors"
      >
        <i class="material-icons">error</i>
        <span class="ms-1" *ngIf="betrag.errors['required']">
          Ein Umsatz muss eingegeben werden, z.B. 123.45.
        </span>
      </div>
    </div>
  </div>
</div>
