<div class="row">
  <label for="regisseurInput" class="col col-2 col-form-label gy-3"
    >Regisseur *</label
  >
  <div class="col col-10 gy-3" [formGroup]="createForm">
    <div class="input-group">
      <input
        id="regisseurInput"
        placeholder="Regisseur in Prozent, z.B. 5.67"
        required
        type="number"
        class="form-control"
        formControlName="regisseur"
        [class.is-invalid]="regisseur.invalid && regisseur.touched"
        [class.is-valid]="regisseur.valid && regisseur.touched"
      />
      <span class="input-group-addon ms-1">%</span>

      <div
        class="invalid-feedback"
        *ngIf="regisseur.invalid && regisseur.touched && regisseur.errors"
      >
        <i class="material-icons">error</i>
        <div *ngIf="regisseur.errors['required']">
          <span class="ms-1">
            Ein Regisseur muss in Prozent eingegeben werden, z.B. 5.67.
          </span>
        </div>
      </div>
    </div>
  </div>
</div>
