<div *ngIf="film">
  <hs-details-titel [titel]="film.titel"></hs-details-titel>
  <hs-details-bewertung [bewertung]="film.bewertung"></hs-details-bewertung>
  <hs-details-genre [genre]="film.genre"></hs-details-genre>
  <hs-details-studio [studio]="film.studio"></hs-details-studio>
  <hs-details-release [release]="film.release"></hs-details-release>
  <hs-details-regisseur [regisseur]="film.regisseur"></hs-details-regisseur>
  <hs-details-newsletter [newsletter]="film.newsletter"></hs-details-newsletter>
  <hs-details-isan [isan]="film.isan"></hs-details-isan>
</div>
